header {
    background-color: beige;
    color:rgb(95, 77, 77);
    text-align: center;
    padding: 35px;
    border-radius: 19px;
}
p {
    font-size: 20px;
    margin: 18px;
    text-align: center;
    background-color: rgba(231, 233, 112, 0.5);
    border-radius: 15px;
}

button {
    background-color: rgba(134, 202, 247, 0.459);
    border-radius: 4px;
    padding: 10px 21px;
    cursor: pointer;
}

button:hover {
   background-color: rgba(28, 105, 206, 0.61);
}
body {
    background-color: rgb(212, 233, 252);
}
